*.pyc

# do/acceptance-test
acceptance-test

# do/analyze
.pylint.d/
pylint_global.txt
pylint_mkdo.txt

# do/build
build
dist
mkdo.egg-info

# do/unit-test
.coverage
nosetests.xml

# emacs
*~
.#*
\#*#

# vim
.*.swp
